on:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-26
    steps:
    - run: sudo xcode-select -s /Applications/Xcode_26.0.app
    - run: brew install subversion
    - uses: actions/checkout@v5
    - run: xcrun agvtool new-version -all ${{ github.run_id }}
    - run: ./download_third_party.sh
    - run: xcodebuild archive -scheme XLDSomeTweaksPlugin -archivePath build
    - uses: actions/upload-artifact@v4
      with:
        name: XLDSomeTweaksPlugin
        path: build.xcarchive/Products/Library/Bundles
